@using System.Globalization
@model AccountOrdersViewModel
@{
    Layout = "_AccountLayout.cshtml";
}

@foreach (var order in Model.Orders)
{
    <div class="card">
        <div class="card-header">
            <p class="h4">Order #@order.Id <small class="text-muted"> - @order.Status</small></p>
            <p class="text-muted">Order Refernce #@($"{order.Id}{FurCoNZ.Web.Helpers.DammAlgorithm.GetCheck(order.Id)}")</p>
        </div>
        <div class="card-body">
            @if (order.Status == "Owing")
            {
                <div class="alert alert-info" role="alert">You will be required to pay by <strong>@order.PayByDate.ToString("MMMM dd, hh:mm tt")</strong>, else the order will be cancelled and the tickets will be released.</div>
            }
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th scope="col">Ticket</th>
                        <th scope="col">Recipient</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                @foreach (var ticket in order.Tickets)
                {
                    <tr>
                        <td>@ticket.TicketType.Name</td>
                        <td>@(string.IsNullOrWhiteSpace(ticket.PreferredFullName) ? ticket.IdentificationFullName : ticket.PreferredFullName)</td>
                        <td>@ticket.TicketType.Price.ToString("C")</td>
                    </tr>
                }
            <tfoot>
                <tr>
                    <td colspan="3"><hr class="m-0" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <th scope="row" class="text-right">Total</th>
                    <th>@order.AmountTotal.ToString("C")</th>
                </tr>
                @* TODO: Only display this if GST is enabled. *@
                @*<tr>
                    <td>&nbsp;</td>
                    <th scope="row" class="text-right">GST (included)</th>
                    <th>@((order.AmountTotal * 3 / 23).ToString("C"))</th>
                </tr>*@
                <tr>
                    <td>&nbsp;</td>
                    <th scope="row" class="text-right">Amount Paid</th>
                    <th>@order.AmountPaid.ToString("C")</th>
                </tr>
            </tfoot>
            </table>
            <div class="float-right">
                @if (order.Status == "Owing")
                {
                    <a role="button" class="btn btn-warning" asp-controller="Checkout" asp-action="Index" asp-route-orderid="@order.Id">Pay</a>
                }
            </div>
        </div>
    </div>
}
